<div style="width: 700px">

  <button routerLink="/new" class="btn btn-primary btn-block"><span class="fa fa-plus"></span> New Student</button>
  <br>
  <input #box class="form-control" type="text" placeholder="Search student" (keyup)="0"> <!--we must bind to the keyup event so angular updates the view-->

  <ul id="list-students" class="list-group">
    <li style="font-size: 18px" class="list-group-item" *ngFor="let student of (students | filterByName:box.value)">
      <a [routerLink]="['/details', student.id]">
        {{student.firstName}} {{student.lastName}}
      </a>
      <div class="div-buttons" style="float: right;">
        <button class="btn btn-sm" [routerLink]="['/details', student.id]"><span class="fa fa-info"></span></button>
        <button class="btn btn-sm btn-success" [routerLink]="['/edit', student.id]"><span class="fa fa-pencil"></span></button>
        <button (click)="delete(student)" class="btn btn-sm btn-danger"><span class="fa fa-trash"></span></button>
      </div>

    </li>
  </ul>


  <!--| filterByName:box.value-->


</div>

