div#sidebar {
  position: fixed;
  height: 100%;
  width: 300px;

}

/*input {*/
  /*width: 300px;*/
  /*margin-bottom: 20px;*/
/*}*/

div#content {
  margin-left: 330px;
}

router-outlet {
  margin-top: 50px;
}
