<!--The content below is only a placeholder and can be replaced.-->




  <!--<app-student-details *ngIf="selectedStudent" [student]="selectedStudent"></app-student-details>-->
  <!--<app-student-form *ngIf="selectedStudent" [model]="selectedStudent"></app-student-form>-->
  <!--<app-student-edit-form *ngIf="selectedStudent" [student]="selectedStudent" (onStudentEdit)="updateList($event);"></app-student-edit-form>-->
<nav>
  <a routerLink="/list" routerLinkActive="active">Students</a>
  <!--<a routerLink="/heroes" routerLinkActive="active">Heroes</a>-->
</nav>
<router-outlet></router-outlet>
<!--<app-student-edit-form [student]="st"></app-student-edit-form>-->






